@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*Somente as medidas conforme a borda que está na tag, algo do tipo XD*/
}

:root{
  --text-color: white;
  --bg-url:url(imagens/bg-mobile.jpg);
  --stroke-color:rgba(255, 255, 255, 0.5);
  --surface-color:rgba(255, 255, 255, 0.05);
  --surface-color-hover:rgba(255, 255, 255, 0.05);
  --highlight-color:rgba(255, 255, 255, 0.2);
  --switch-bg-url:url(./imagens/MoonStars.svg);
}

.light{
  --text-color: black;
  --bg-url:url('imagens/bg-mobile-light.jpg');
  --stroke-color:rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover:rgba(0, 0, 0, 0.05);
  --highlight-color:rgba(0, 0, 0, 0.1);
  --switch-bg-url:url(./imagens/sun.svg)
}

body{
  /*background-image: url(./imagens/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; ***Rapaz, eu coloquei height, pórem no vídeo o cara usou top center ali em cima.***
  background-size: cover;*/
  background:  var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

main#container{
  width: 360px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}
  
/*Profile*/

div#profile > img{
  
  display: block;
  width: 112px; /*Height opcional*/
  margin: auto;
}

div#profile > a{
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

div#profile > a:hover{
  font-weight: 500;
  text-decoration: underline;
}

/*Switch*/

#switch{
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button{
  height: 32px;
  width: 32px;
  background:white var(--switch-bg-url) no-repeat center;
  border-radius: 50%;
  border: 0;

  position: absolute;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
}

.light #switch button{
  right: 0;
  left: initial; /*Confg do left inicial, obrigatório para mudanças de acordo com o projeto.*/
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links*/
ul{
  padding: 24px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px; /*Distância de uma coluna(item) para outra(outro)*/
}

ul li a{
  display: flex;
  justify-content: center; /*Centralizar o contéudo*/
  backdrop-filter: blur(4px);
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  padding: 16px 24px;

  font-weight: 500;
  text-decoration: none;

  transition: background 0.2s;
}

ul li a:hover{
  border: 1.5px solid var(--text-color);
  background-color: var(--surface-color-hover);
}

/*Links sociais*/

#social-links{
  display: flex;
  justify-content: center;
  padding: 24px, 0;
  font-size: 24px;
}

#social-links a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: 0.2s;
  border-radius: 50%;
}

#social-links a:hover{
  background-color: var(--highlight-color);
}

/*Rodapé*/
footer{
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}